* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-container {
    width: 80%;
    height: 80%;
    border: 2px solid red;
    display: flex;
}
.carousel-container .car-center {
    width: 80%;
    height: 100%;
}
/* .car-center img {
    display: none;
} */
.car-center .img-container.active {
    display: block;
}
.img-container {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.img-container h1,
.img-container p {
    position: absolute;
    color: white;
    width: 80%;
    left: 20px;
}
.img-container h1 {
    bottom: 2.5em;
}
.img-container p {
    bottom: 1em;
}
.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-container img .active {
    display: block;
}
.thumb-container {
    width: 20%;
    height: 100%;
    position: relative;
}
.thumb-container .img-container {
    width: 100%;
    height: 20%;
    display: block;
    opacity: 0.6;
}
.thumb-container .img-container.active {
    opacity: 1;
    border: 3px solid white;
}
.thumb-container .arrow-up,
.thumb-container .arrow-down {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    color: lightgrey;
    font-size: 2.5em;
    z-index: 999;
}
.thumb-container .arrow-up {
    top: 10px;
}
.thumb-container .arrow-down {
    bottom: 10px;
}